.App {
  text-align: center;
  height: 100%;
}

.app-row {
  height: 92%;
  margin: 0px;
  padding: 0px;
}

.big-title-row {
  height: 8%;
  background-color: red;
  margin: 0px;
  padding: 0px;
}

.big-title {
  width: 100%;
  color: white;
}

.human-title {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

.ai-title {
  margin-top: 15px;
  margin-bottom: 15px;
  color: green;
}

.cell {
  background-color: yellow;
  height: 80px;
  border-radius: 10px;
}

.cell-icon {
  margin-top: 20px;
}

.cell-row {
  padding: 0px;
  margin: 0px;
}

.cell-container {
  margin: 0px;
  padding: 1px;
}

.human-container {
  background-color: blue;
  padding: 0px !important;
}

.ai-container {
  background-color: pink;
  padding: 0px !important;
}

.maze-container {
  padding-left: 30px;
  padding-right: 30px;
}
